<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>N2O Demo</title>
</head>
<body>
<h1><b id="heading">N2O Demo</b></h1>

{{body}}

<!--script>var transition = {pid: '', host: 'localhost', port:'8000'};</script-->
<script>{{script}}</script>
<script src='/n2o/protocols/bert.js'></script>
<script src='/n2o/protocols/binary.js'></script>
<script src='/n2o/protocols/client.js'></script>
<script src='/n2o/protocols/nitrogen.js'></script>
<script src='/n2o/bullet.js'></script>
<script src='/n2o/utf8.js'></script>
<script src='/n2o/template.js'></script>
<script src='/n2o/n2o.js'></script>
<script src='/n2o/validation.js'></script>
<script>N2O_start();</script>
</body>
</html>
